/* src/Calendar.css */
.calendar-container {
    display: flex;
    justify-content: center;
}

.calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calendar-controls {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.arrow-button {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}

.month-display {
    margin-left: 20px;
    /* Adjust as needed */
}


.calendar-controls button {
    margin: 0 10px;
    padding: 10px 10px;
    font-size: 16px;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0;
    border-collapse: collapse;
}

.calendar-weekday {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

.calendar-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
}

.calendar-date.weekend {
    background-color: #f0f0f0;
}

.calendar-date-day-num.today {
    border-color: red; /* Adjust circle color as needed */
    border: 1px solid red;
    padding: 3px;
  }

select {
    margin-top: 5px;
}

.percentage {
    margin-top: 5px;
    font-size: 12px;
    color: #666;
}

.red {
    background-color: #ffcccc;
}

.yellow {
    background-color: #ffffcc;
}

.green {
    background-color: #ccffcc;
}

.summary {
    margin-left: 20px;
    padding: 20px;
}

.summary h3 {
    margin-top: 0;
}

.summary p {
    margin: 5px 0;
}

.tooltip {
    position: absolute;
    background-color: #000;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    z-index: 999;
    display: none;
}

.tooltip.visible {
    display: block;
}

.info-icon {
    margin-left: 5px;
    cursor: pointer;
}

.mobile-only {
    display: none;
    /* Hide weekday titles on mobile */
}


@media (max-width: 600px) {
    .mobile-only {
        display: block;
    }

    .calendar-weekday {
        display: none;
        /* Hide weekday titles on mobile */
    }

    .calendar-grid {
        display: flex;
        flex-direction: column;
        height: 100vh;
        /* Set height to viewport height */
        overflow-y: scroll;
        /* Enable vertical scrolling */
        -webkit-overflow-scrolling: touch;
        /* For smooth scrolling on iOS */
    }

    .calendar-date {
        width: 100vw;
        box-sizing: border-box;
        padding: 10px;
        /* Add additional styling as needed */
    }

    .summary {
        display: none;
    }
}